<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>Application Name</param-name>
        <param-value>Soccer Management System</param-value>
    </context-param>

    <context-param>
        <param-name>Application Version</param-name>
        <param-value>1.0.0</param-value>
    </context-param>

    <context-param>
        <param-name>Application Developer</param-name>
        <param-value>Kevin</param-value>
    </context-param>

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.soccer.action.action.HomeAction</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Player</servlet-name>
        <servlet-class>com.soccer.action.action.PlayerAction</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddTeamAction</servlet-name>
        <servlet-class>com.soccer.action.action.AddTeamAction</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddTeamAction</servlet-name>
        <url-pattern>/addTeam</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Player</servlet-name>
        <url-pattern>/player</url-pattern>
    </servlet-mapping>

</web-app>
